@media only screen and (max-width: 1300px) {
    #main-photo{
        float: right;
        right: 25px !important;
    }

    #begin{
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 900px) {

    body, html{
        margin: 8px !important;
    }

    .container{
        margin: 0 !important;
    }

    .mega-number{
        font-size: 75px !important;
    }

    .main-heading{
        font-size: 40px !important;
    }

    .subheader{
        font-size: 20px !important;
    }

    .link-button{
        height: 40px !important;
        padding: 8px 16px !important;
        font-size: 16px !important;
    }

    a{
        font-size: inherit !important;
    }

    p{
        font-size: 20px !important;
    }

    .reason{
        width: 95% !important;
    }

    .reasons-div{
        margin: 0 !important;
        width: 95% !important;
        max-width: 95% !important;

    }

    .reason-title{
        font-size: 40px !important;
    }

    #main-photo{
        display: none !important;
    }

    .top-spacer{
        height: 50px !important;
    }

    .reason{
        margin-inline: 8px;
    }

    .reason:nth-child(even) .reason-titles{
        justify-content: start !important;
        text-align: left !important;

    }
    .reason:nth-child(even) p{
        text-align: left !important;
    }

}

p{
    font-size: 30px;
}

.top-spacer{
    height: 50px;
}

.main-heading{
    font-size: 75px;
    font-weight: normal;
}

.container{
    margin: 16px;
}

section{
    min-height: 100vh;
}

.subheader{
    font-size: 30px;
}

.link-button{
    height: 60px;
    padding: 24px 50px;
    font-size: 20px;
}

a{
    font-size: 20px;
}

#main-photo{
    position: absolute;
    top: 175px;
    right: 200px;
    transform: rotate(14deg);
    max-height: 600px;
    -webkit-box-shadow: 0px 0px 82px -23px rgba(var(--primary-color),1);
    -moz-box-shadow: 0px 0px 82px -23px rgba(var(--primary-color),1);
    box-shadow: 0px 0px 82px -23px rgba(var(--primary-color),1);
    /* transform-style: preserve-3d; */
    transition: transform 300ms linear;
    pointer-events: none;
}

#changing-text{
    white-space: nowrap;
    text-shadow: 4px 4px 20px rgba(var(--primary-color),1);
}

.reasons-div{
    max-width: 50%;
    margin: auto;
}

.mega-number{
    font-size: 200px;
    color: rgb(var(--secondary-color));
    margin: 0;
    font-weight: normal;
    opacity: 0;
    transition: opacity 500ms;
}

.reason-titles{
    position: relative;
    display: flex;
    align-items: center;
}

.reason-title{
    font-size: 50px;
    font-weight: normal;
    position: absolute;
    left: 0;
}

.reason p{
    font-size: 30px;
}

.reason{
    margin-bottom: 100px;
}

.reason:nth-child(even){
    text-align: right;
}

.reason:nth-child(even) .reason-titles{
    justify-content: end;
    align-items: center;
}

.reason:nth-child(even) .reason-titles > h1 {
    right: 0;
}


#begin{
    max-width: 60%;
}

.rocket, .rocket img{
    max-height: 150px;
    max-width: 50px;
    z-index: 1000;
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
}

.rocket{
    transition: opacity 300ms linear;
    opacity: 0;
}

.rocket-flown{
    transition: transform 3000ms ease-in-out, opacity 500ms linear;
    opacity: 1;
    transform: translate(300px, -3000px) rotate(30deg);
}

@keyframes opacity-anim{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.appear{
    opacity: 0;
    animation: opacity-anim;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
}

.first.appear{
    animation-delay: 500ms;
}

.second.appear{
    animation-delay: 900ms;
}

.third.appear{
    animation-delay: 1500ms;
}

.fourth.appear{
    animation-delay: 2000ms;
}


#footer{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--primary-color),1);
    height: 50px;
}