/* @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Bebas+Neue&family=Lora:ital@1&display=swap'); */

@font-face {
    font-family: "Lora";
    src: url("fonts/Lora/static/Lora-Regular.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
    font-weight: bold;
}


::selection {
    background: var(--highlight-color);
}

/* RESPONSIVE CSS */

@media only screen and (max-width: 700px) {
    .navbar .options{
        display: none !important;
    }

    #mobile-hamburger{
        display: inline !important;
    }

    .popup{
        max-width: 92% !important;
    }

    .account-popup{
        width: 92% !important;
        left: 50% !important;
        transform: translateX(-50%);
    }

}

@media only screen and (max-width: 1400px) {
    .course-cards{grid-template-columns: repeat(4, 1fr) !important;}
}

@media only screen and (max-width: 1100px) {
    .course-cards{grid-template-columns: repeat(3, 1fr) !important;}
}

@media only screen and (max-width: 900px) {
    .course-cards{grid-template-columns: repeat(2, 1fr) !important;}
}

@media only screen and (max-width: 700px) {
    .course-cards{grid-template-columns: repeat(1, 1fr) !important;}
}

/* BODY */
  
body{
    background: rgb(var(--background-color));
    font-family: var(--main-font);
    margin: 4px 16px;
    color: rgb(var(--text-color));
    transition: background-color 100ms, color 100ms;
    -webkit-transition: background-color 100ms;
    -o-transition: background-color 100ms;
    -moz-transition: background-color 100ms;
}


/* NAVBAR */

.navbar{
    margin: 0;
    /* background-color: rgba(var(--primary-color), 0.95); */
    background: rgba(var(--navbar-color), 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(var(--secondary-text-color));
    width: 100%;
    padding: 8px 16px;
    transition: height 100ms;
    z-index: 100;
}

.navbar h1 {
    font-family: var(--title-font);
    overflow-wrap: anywhere;
}

.navbar * {
    display: inline;
    vertical-align: middle;
}

.navbar .nav-logo {
    user-select: none;
    cursor: pointer;
    margin-right: 24px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 8px;
    background-color: transparent;
}


.navbar .navbar-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navbar .options {
    display: inline-flex;
    align-items:flex-end;
    margin-right: 16px;
}

.options > a {
    color: rgb(var(--secondary-text-color));
    margin: 0 8px;
}

.navbar .two-row-nav-title{
    display: inline-flex;
    flex-direction: column;
    align-items:start;
    margin: 0;
}

.navbar .two-row-nav-title *{
    margin-bottom: 0;
    margin-top: 0;
}

.navbar .user-text{
    font-weight: bold;
    display: inherit;
    cursor: pointer;
}

/* UI COMPONENTS */

a{
    color: rgb(var(--primary-color));
    transition: all 200ms;
    border-radius: 6px;
    padding: 4px 8px;
    margin: 8px 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
}

a > i {
    margin-right: 4px;
}


a:hover{
    background-color: rgba(var(--primary-color));
    color: rgb(var(--secondary-text-color));

    /* text-decoration: none; */
}

a:focus{
    outline: 1px solid rgb(var(--primary-color));
}


button, .link-button{
    height: 40px;
    border-radius: 6px;
    padding: 8px 12px;
    border: none;
    box-sizing: border-box;
    transition: all 200ms;
    font-family: var(--main-font);
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 6px;
    margin-bottom: 7px;
    justify-content: center;
    user-select: none;
}

.link-button{
    padding: 0 12px;
}

button:hover, .link-button:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 10px 10px rgb(var(--primary-color), 0.1);
    color: rgb(var(--secondary-text-color));

}

button:active, .link-button:active{
    box-shadow: 0px 0px 20px 10px rgb(var(--primary-color), 0.2);
}

button:focus, .link-button:focus{
    outline: var(--outline);
}

.filled, .link-button{
    text-decoration: none;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--secondary-text-color));
}

.outlined{
    background-color: transparent;
    border: 1px solid rgba(var(--primary-color), 0.9);
    color: rgba(var(--primary-color), 0.9);
}

.outlined:hover{
    background-color: rgba(var(--primary-color), 0.9);
    color: rgb(var(--secondary-text-color));
    opacity: 1;
}

.disabled{
    opacity: 0.3;
    pointer-events: none;
    cursor: pointer !important;
}

/* Use this only with .secondary */
.primary{
    margin-bottom: 0;
}

.secondary{
    margin-top: 0;
    color: rgb(var(--secondary-color));
    font-weight: 800;
}

.title-font{
    font-family: var(--title-font);
}

input, textarea{
    font-family: var(--main-font);
    border: var(--outline);
    border-radius: 6px;
    font-size: 16px;
    accent-color: rgb(var(--primary-color));
    margin-top: 6px;
    margin-bottom: 6px;
    width: auto;
    color: rgb(var(--primary-color));
    background: transparent;
    box-shadow: 0 4px 30px rgba(rgb(var(--background-color)), 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 8px;
}

textarea{
    resize: vertical;
    padding: 4px 2px;
    /* These weird numbers are actually 230 - 8 and 40 - 8 px */
    width: auto;
    min-height: 32px;
}

input[type="text"], input[type="email"], input[type="password"]{
    height: 36px;    
}

/* You'll probably want to use these as blocks */
input[type="email"], input[type="password"]{
    display: block;
}

input:focus{
    outline: var(--outline);
}


input[type="checkbox"], input[type="radio"]{
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Chrome, Safari, Opera */
    transform: scale(1.7);
    margin-right: 16px;
}

input[type="range"], input[type="range"]:focus, input[type="range"]:active{
    display: block;
    outline: none;
    width: min(300px, 100%);
}



label {
    user-select: none;
}

.tooltip-container{
    position: relative;
    display: inline;
    z-index: 0;
}

.tooltip-container > span:not(.tooltip) {
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 2px dotted rgb(var(--text-color));
}


.tooltip-container .tooltip{
    /* We use both visibility and opacity to make a fading animation but still remove the tooltip from DOM */
    opacity: 0;
    user-select: none;
    max-width: 300px;
    background-color: rgba(var(--primary-color), 0.8);
    color: rgb(var(--secondary-text-color));
    border-radius: 6px;
    padding: 5px 12px;
    position: absolute;
    z-index: 10;
    top: 158%;
    left: 0%;
    transition: opacity 100ms linear;
    pointer-events: none;
    width: max-content;
    text-align: left;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    user-select:all;
    transition: opacity 100ms linear;
}

img{
    border-radius: 6px;
    transition: all 100ms linear;
}

img:hover{
    opacity: 0.9;
}


.no-style, .no-style:hover{
    all: unset;
    border-radius: 6px;
}

.popup{
    text-align: center;
    outline: var(--outline);
    padding: 12px 12px;
    width: max-content;
    max-width: 50%;
    color: rgb(var(--primary-color));
    text-align: center;
    border-radius: 6px;
    transition: all 100ms linear;
    margin: 8px auto;
    cursor: pointer;

}

.popup:hover{
    background-color: rgba(var(--primary-color), 0.1);
}

.popup::before{
    content: "ⓘ";
    margin-right: 8px;
}


.error{
    color: rgb(var(--red-color));
    outline-color: rgb(var(--red-color));
}

.error::before{
    content: "⚠";
}

.error:hover{
    background-color: rgba(255, 0, 0, 0.1);
}

.warning{
    color: orange;
    outline-color: orange;
}

.warning::before{
    content: "⚠";
}

.warning:hover{
    background-color: rgba(255, 165, 0, 0.1);
}

dialog {
    padding: 0;
    border: 0;
    border-radius: 6px;
    color: rgb(var(--primary-color));
    text-align: start;
}

.dialog-content{
    padding: 8px 16px;
}

#user-dialog{
    position: absolute;
    top: calc(-100% + 220px);
    right: calc(-100% + 200px);
}

.material-icons{
    user-select: none;
}

.faded-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--primary-color), 0.05);
    z-index: 100;
    transition: opacity 100ms;
    scroll-behavior: none;
}

.account-popup{
    z-index: 999;
    position: fixed;
    top: 75px;
    right: 8px;
    display: inline-block;
    background-color: rgba(var(--primary-color), .1);
    padding: 0px 8px;
    border-radius: 6px;
    box-shadow: 0px 0px 100px 16px rgba(var(--shadow-color), 0.2);
    width: min(250px, 90%);
}

.account-popup h1,p {
    overflow-wrap: anywhere;
}


#user-link{
    user-select: none;
}

.red.outlined{
    color: rgb(var(--red-color));
    outline-color: rgb(var(--red-color));
    border-color: rgb(var(--red-color));
}

.red.outlined:hover{
    color: rgb(var(--secondary-text-color));
    background-color: rgb(var(--red-color));
}

.red.filled{
    background-color: rgb(var(--red-color));
}

.red:hover{
    box-shadow: 0px 0px 56px 26px rgb(var(--red-color), 0.1);
}

.red:active{
    box-shadow: 0px 0px 72px 50px rgb(var(--red-color), 0.1);
}

.expanded{
    width: 100%;
}

.primary-color{
    color: rgb(var(--primary-color));
}

#mobile-hamburger{
    display: none;
    padding-right: 4px;
    cursor: pointer;
    color: rgb(var(--secondary-text-color));
    margin-right: 24px;
}

.mobile-options{
    display: block;
}

.mobile-options * {
    text-align: start;
    color: rgb(var(--secondary-text-color));
    padding-left: 0;
}

.mjx-chtml{
    font-size: 160% !important;
    pointer-events: none;
}

.MJXc-display{
    overflow-x: scroll;
    overflow-y: hidden;
}

.course-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.course{
    background-color: rgb(var(--primary-color), 0.2);
    margin: 8px;
    border-radius: 6px;
    transition: all 100ms;
    cursor: pointer;
    height: 90%;
}

.course:hover{
    opacity: 0.9;
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 0px 50px -10px rgba(var(--primary-color), 0.3);
    -moz-box-shadow: 0px 0px 50px -10px rgba(var(--primary-color),0.3);
    box-shadow: 0px 0px 50px -10px rgba(var(--primary-color),0.3);
}

.course:focus{
    border-radius: 6px;
    outline: var(--outline);
}

.course .course-img-container, .course img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course > h3 {
    margin: 12px 8px;
    padding-bottom: 8px;
    overflow-wrap: anywhere;

}

.lesson-link{
    display:block;
    background-color: rgb(var(--primary-color), 0.2);
    border-radius: 6px;
    margin: 8px;
    cursor: pointer;
    width: min(90%, 500px);
    transition: all 100ms;
}

.lesson-link > img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin: 0;
    text-align: center;
}

.lesson-text{
    padding: 4px 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.lesson-link:hover{
    opacity: 0.9;
    transform: translateY(-1px);
    -webkit-box-shadow: 0px 0px 50px -10px rgba(var(--primary-color), 0.3);
    -moz-box-shadow: 0px 0px 50px -10px rgba(var(--primary-color),0.3);
    box-shadow: 0px 0px 50px -10px rgba(var(--primary-color),0.3);

}

.lesson-completed{
    color: lightgreen;
    opacity: 0.9;
}

.add-content{
    text-align: center;
    margin: auto;
    width: min(600px, 95%);
}

.add-content img{
    max-height: 200px;
    max-width: min(300px, 90%);
}

.add-content p {
    font-size: 20px;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-font{
    font-family: var(--main-font) !important;
}


.profile-container{
    width: max(30%, 300px);
    margin: auto;
    text-align: center;
}

.profile-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
}

.profile-data > p {
    text-align: end;
}

.profile-data > h4{
    text-align: start;
}


.course-img-container{
    position: relative;
    display: inline-block;
}

.course-completion-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightgreen;
    border-radius: 6px;
    opacity: 0.9;
}