/* VARIABLES */

:root {
    --primary-color: 84,132,187;
    /* --primary-color: 176, 218, 255; */
    --text-color: 12,19,79;
    --secondary-text-color: 241,246,249;
    --background-color: 255,255,255;
    --red-color: 231,97,97;
    --secondary-color: 155,164,181;
    --shadow-color: 0, 0, 0;
    --highlight-color: #ABCDEF;
    --title-font: "Bebas Neue";
    --main-font: "Atkinson Hyperlegible";
    --outline: 1px solid rgb(var(--primary-color));

    --mobile-width: 600px;
}

[data-theme="dark"]  {
    /* --primary-color: 182,234,218; */
    --primary-color: 165,201,202;
    --background-color: 27,36,48;
    --red-color: 231,97,97;
    --text-color: 237,242,248;
    --secondary-color: 155,164,181;
    --shadow-color: 230, 242, 232;
    --highlight-color: #ABCDEF;
    --title-font: "Bebas Neue";
    --main-font: "Atkinson Hyperlegible";
    --outline: 1px solid rgb(var(--primary-color));
}

