{% extends 'base_lesson.html' %}

{% block lesson %}
    <h1>Tund 1</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quis dolorum nobis quae atque sapiente corporis optio doloribus veritatis in labore, placeat odit! Dolores ex maiores eligendi, autem fuga magni, ipsa repellendus recusandae earum illum veritatis, neque asperiores? Exercitationem, quibusdam!</p>

    $$\vec{v} = \frac{\vec{s}}{t}$$
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="Foto 1">
    <ol type="i">
        <li>Punkt 1</li>
        <li>Punkt 2</li>
        <li>Punkt 2</li>
        <li>Punkt 2</li>
    </ol>

    <table>
        <thead>
            <th>Kiirus (\(m/s\))</th>
            <th>Teepikkus (\(m\))</th>
            <th>Aeg (\(s\))</th>
        </thead>
        <tbody>
            <tr>
                <td>25</td>
                <td>100</td>
                <td>4</td>
            </tr>
            <tr>
                <td>50</td>
                <td>200</td>
                <td>4</td>
            </tr><tr>
                <td>10</td>
                <td>100</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ducimus nobis delectus tempora obcaecati. Unde exercitationem iusto, ad reprehenderit rem atque nemo ab qui quam repudiandae? Qui repellat asperiores obcaecati error, ab sequi eos! Dolores molestiae, ipsam sint nisi cupiditate sunt et inventore, id repellendus impedit eveniet perspiciatis soluta corrupti minima error modi ad fugiat eaque amet praesentium a quod quae reprehenderit! Eligendi aliquid dignissimos obcaecati aspernatur at molestias temporibus tenetur vel deserunt nihil ut aperiam nulla expedita fuga quidem deleniti ratione, sunt assumenda mollitia ipsam in maiores facilis. Unde alias eius numquam voluptatum quisquam, magnam fugit atque architecto deserunt!</p>
{% endblock %}