{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'variables.css' %}">
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% block head %}
        <title>TRK - Toomas Reimanni konspekt</title>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
</head>
<body>
    {% block navbar %}
    <div class="navbar">
        <div class="navbar-content">
            <div>
                <a class="no-style" href="/"><img src="{% static 'logo.png' %}" alt="" class="nav-logo"></a>
                {% block title %}
                    <h1>TRK</h1>
                    
                {% endblock %}

            </div>

            <div class="options">
                {% block options %}
                    <a href="{% url 'index' %}">Koduleht</a>
                {% endblock %}
                {% if user.is_authenticated %}
                    <a id="user-link" title="{{ user.username|title }}" class="user-text account-link"><i class="material-icons">person</i> {{user.username | title}}</a>
                {% else %}
                    <a class="user-text" href="{% url 'login' %}"><i class="material-icons">login</i></a>
                {% endif %}
            
            </div>
            <a id="mobile-hamburger"><i class="material-icons">menu</i></a>

        </div>
        <div class="mobile-options"></div>
    </div>
    {% endblock %}
    <div id="top-margin"></div>
    <div class="faded-background" id="faded-background" hidden>
        <div class="account-popup">
            <h1 class="primary title-font primary-color">{{user.username|default:"Nime pole"}}</h1>
            <p class="secondary">{{user.email|default:"E-posti pole lisatud"}}</p>
            <br><br>
            <label><input type="checkbox" id="dark-theme-checkbox"> Tume teema?</label>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="link-button filled expanded">Minu konto</a>
            {% endif %}
            <button onclick="window.location.href = {% url 'signout' %}" class="link-button outlined red expanded"><i class="material-icons">logout</i> Logi välja</button>            

        </div>
    </div>

    <!-- <div id="cursor-effect" style="position: absolute; z-index: -50; height: 100px; width: 100px; background-color: rgb(var(--primary-color)); border-radius: 100%;
    filter: blur(40px);
    opacity: 0.2;
    ">

    </div> -->
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
    <script src="http://demos.flesler.com/jquery/scrollTo/js/jquery.scrollTo-min.js"></script>

    <script>
        function detectTheme(){
            var currentTheme = "light";

            if(!localStorage.getItem("theme")){
                // No preference
                console.log("No theme preference set, use the preference");

                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    // dark mode
                    localStorage.setItem("theme", "dark");
                }else if(window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches){
                    //light mode
                    localStorage.setItem("theme", "light");
                }
                
            }

            currentTheme = localStorage.getItem("theme");

            if(currentTheme == "dark"){
                document.documentElement.setAttribute("data-theme", "dark");
                $("#dark-theme-checkbox").prop("checked", true);

            }else{
                document.documentElement.setAttribute("data-theme", "light");
                $("#dark-theme-checkbox").prop("checked", false);

            }
        }
        
        // Listen to changes
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
            const newColorScheme = event.matches ? "dark" : "light";
            localStorage.setItem("theme", newColorScheme);
            document.documentElement.setAttribute("data-theme", newColorScheme);
            $("#dark-theme-checkbox").val(newColorScheme == "dark" ? true : false);
        });

        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                detectTheme();
            }
        });

    
        detectTheme();

        $("#dark-theme-checkbox").change(function (){
            if ($(this).is(':checked')) {
                localStorage.setItem("theme", "dark");
            }else{
                localStorage.setItem("theme", "light");
            }

            document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));

        });
    </script>


    <!-- <script>
        $(document).mousemove(function(event) {
            $("#cursor-effect").css("top", event.pageY - 50);
            $("#cursor-effect").css("left", event.pageX - 50);
        });

    </script> -->


    {% block content %}

    {% endblock %}

    <script>
        $(".popup").click(function (e){
            if(!$(this).hasClass("not-dismissable")){
                $(this).animate({"height":"0", "opacity":"0"}, 500, function (){
                    setTimeout(() => {
                        $(this).css("display", "none");
                    }, 100);
                });
            }
            
        });

        // Here is the account popup logic

        document.getElementById("faded-background").addEventListener("click", function (e){
            if(e.target.id === "faded-background"){
                $(".faded-background").css("opacity", 0);
                setTimeout(() => {
                    $(".faded-background").css("display", "none");
                }, 100);

            }
        });

        


        // This logic sets the top margin below the navbar and deals with the different navbar option types
        function detectScreenSizeChange(){
            // Top margin
            $("#top-margin").css("height", $(".navbar").height() + 35);
            // Also change the account popup's top position
            $(".account-popup").css("top", $(".navbar").height() + 25);


            var windowWidth = $(window).width();
            if(windowWidth > 700){
                $(".mobile-options").css("display", "none");
            }
            
        }

        detectScreenSizeChange();

        new ResizeObserver(detectScreenSizeChange).observe(document.querySelector(".navbar"));

        // Responsive navbar
        $("#mobile-hamburger").click(function (){
            if($(".navbar .mobile-options").css("display")  != "none"){
                // The navbar is opened
                $(".navbar .mobile-options").animate({"height":"hide"});

            }else{
                $(".navbar .mobile-options").animate({"height":"show"});
                
            }
        });

        // Initially set the mobile content and hide it
        
        $(".navbar .mobile-options").css("display", "none");

        $(".navbar .options").children().each(function(){
            var element = $(this).clone();

            // Closes the navbar after an item is clicked
            element.click(function (){
                $(".navbar .mobile-options").css("display", "none");
            });
            
            $(".navbar .mobile-options").append("<br><br>");
            $(".navbar .mobile-options").append(element);

        });


        $(".account-link").click(function (){
            $(".faded-background").css("opacity", 0);
            $(".faded-background").css("display", "block");
            setTimeout(() => {
                $(".faded-background").css("opacity", 1);

            }, 100);
        });

    </script>
</body>
</html>