{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{{lesson.title}} | {{course.title}}</title>
    <link rel="stylesheet" href="{% static 'lesson.css' %}">
{% endblock %}

{% block title %}
<div class="two-row-nav-title">
    <h1>{{ lesson.title }}</h1>
    <p style="cursor: pointer;" onclick="window.location.href = '{% url 'course' id=course.id %}'" class="secondary">{{ course.title }}</p>
</div>
{% endblock %}


{% block content %}
 
    <div class="lesson-content">
        {% block lesson %}
        
        {% endblock%}
    </div>
    <br><br><br>
    <div class="lesson-end">
        {% if not isComplete %}
        <form action="{% url 'finishLesson' id=lesson.id %}" method="post">
            {% csrf_token %}
            <button class="filled"><i class="material-icons">check_circle</i> &nbsp;  Lõpeta tund</button>
            
        </form>
        {% else %}
            <i>See tund on juba lõpetatud!</i>
            
        {% endif %}
    </div>
    <br><br>
{% endblock %}