{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{{lesson.title}} | {{course.title}}</title>
    <link rel="stylesheet" href="{% static 'lesson.css' %}">
{% endblock %}

{% block title %}
<div class="two-row-nav-title">
    <h1>{{ lesson.title }}</h1>
    <p style="cursor: pointer;" onclick="window.location.href = '{% url 'course' id=course.id %}'" class="secondary">{{ course.title }}</p>
</div>
{% endblock %}


{% block content %}
 
    <div class="lesson-content">
        {% block lesson %}
        
        {% endblock%}
    </div>
    <br><br><br>
    <div class="popup error not-dismissable" id="cannotFinishLesson" hidden>
        <span>Tundi ei saa lõpetada, sest ülesanded on õigesti tegemata</span>
    </div>
    <div class="lesson-end">
        {% if not isComplete %}
            
            <button onclick="onFinishLesson()" class="filled"><i class="material-icons">check_circle</i> &nbsp;  Lõpeta tund</button>
        {% else %}
            <a href="{% url 'index' %}" class="link-button filled"><i class="material-icons">arrow_back</i> &nbsp;  Tagasi</a> 
            <button onclick="window.location.href = '{% url 'removeLesson' id=lesson.id %}'" class="outlined">Eemalda tehtute hulgast</button>            
        {% endif %}
    </div>
    <br><br>

    <style>
        .question-card-front, .question-card-back{
            transition: all 200ms;
        }

        .question-load-div{
            transition: height 200ms;
        }
    </style>

    <script>
        function onFinishLesson(){
            if($(".question-undone").length){
                $("#cannotFinishLesson").css("display", "block").fadeIn(200);
                $(".question-undone .error-text").show();
                $(".question-undone").get(0).scrollIntoView({behavior: 'smooth'});
            }else{
                setTimeout(() => {
                    window.location.href = "{% url 'finishLesson' id=lesson.id %}";
                }, 200);
            }
        }

        $(".question-load-div").each(function (){
            var id = $(this).attr("question-id");

            var url = "{% url 'exercise' id=12345 %}".replace(/12345/, id.toString());

            console.log(url);

            $(this).load(url, function (){
                $(this).addClass("question-undone");
            });
        });
    </script>

    <script src="{% static 'js/exercise-logic.js' %}"></script>
{% endblock %}