{% extends 'base.html' %}
{% load static %}

{% block title %}
    <div class="two-row-nav-title">
        <h1>{{ course|title }}</h1>
        <p class="secondary">Vali tund</p>
    </div>
{% endblock %}

{% block content %}
    <div class="lesson-container" >
        {% for lesson in lessons %}
        <a href="{% url 'lesson' id=lesson.id %}" class="no-style" style="display: flex; justify-content: center;">
            <div class="lesson-link {% if lesson in completedLessons %}lesson-completed{% endif%}">
                <img src="{{lesson.image}}" alt="{{lesson.title}}">
                <div class="lesson-text">
                    <h3><span style="color: darkgray;">{{lesson.lessonNumber}}. tund:</span> {{ lesson.title }} </h3>
                {% if lesson in completedLessons %}
                    <i style="margin-left: 16px;" class="material-icons">check_circle</i>
                {% endif%}
                </div>
            </div>
        </a>

        {% empty %}
        <div class="absolute-center">
            <img src="{% static 'logo.png' %}" alt="Logo" style="height: 100px; width: 100px;">
            <h1 class="title-font primary">Vabandust, tunde ei leitud!</h1>
            <p class="secondary">See ei tohiks juhtuda, palun võta ühendust lehe arendajaga</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}