{% extends 'base.html' %}

{% block options %}
    <a href="{% url 'addCourse' %}">Lisa kursus</a>
{% endblock %}

{% block content %}
    {% if message %}
    <div class="popup" id="message-popup">
        <span>{{message}}</span>
    </div>
    {% endif %}
    <h1>Jätka neid tunde</h1>
    <h1>Pooleliolevad kursused</h1>
    <h1>Lõpetatud kursused</h1>


    <h1>Kõik kursused</h1>
    <div class="course-cards">
        {% for course in courses reversed %}
            <a href="{% url 'course' id=course.id %}" class="no-style">
                <div class="course">
                    <div class="course-img-container">
                        <img src="{{ course.image }}" alt="Pilt">
                        <div class="course-completion-bar" style="width: 42%;"></div>
                    </div>
                    <h3 style="padding-bottom: 16px;">{{course.title }} <span class="secondary"> | 42% </span></h3>
                </div>
            </a>
        {% empty %}
            <div>
                <p class="primary">Sul pole veel ühtegi kursust!</p><br>
                <a href="{% url 'addCourse' %}" class="link-button filled"><i class="material-icons">add</i> Lisa kursus</a>
    
            </div>
        {% endfor %}
    </div>
    <br><br><br>
    <p class="secondary">NB! Arendusversioon. See leht läheb paremaks!</p>


    <script>
        setTimeout(() => {
            $("#message-popup").click();
        }, 5000);
    </script>
{% endblock %}

