{% extends 'base.html' %}


{% block content %}
    <h1>Minu kursused</h1>
    <div class="course-cards">
        {% for course in courses %}
        <a href="{% url 'course' id=course.id %}" class="no-style">
            <div class="course">
                <img src="{{ course.image }}" alt="Pilt">
                <h3>{{course.title|title }}</h3>
            </div>
        </a>
            
        {% endfor %}
    </div>
    <br><br><br>
    <p class="secondary">NB! Arendusversioon. See leht läheb paremaks!</p>

{% endblock %}

