<div class="question" question-id="{{question.id}}">
    <div class="question-card-front">
        <p>{{question.description}}</p>
        {% if question.image %}
            <img src="{{question.image}}" style="width: 100%; object-fit: cover; max-height: 300px;" alt="">
        {% endif %}
        <h2 class="{% if show_round and question.type != 'range' %}primary{% endif %}">{{question.question}}</h2>
        {% if show_round and question.type != 'range' %}
        <p style="font-size: 75%;" class="secondary">Vajadusel ümarda kahe komakohani</p>
        {% endif %}

        {% if question.type == 'write' %}
            <input question-id="{{question.id}}" class="question-write" type="text" placeholder="Sinu vastus... {% if question.unit %}({{question.unit}}){%endif%}">
            <div question-id="{{question.id}}" class="question-choices">
                {% for choice in choices %}
                    <label style="display: none;" choiceId="{{choice.answer}}" isCorrect="{% if choice.is_correct %}true{% else %}false{%endif %}"></label>
                {% endfor %}
            </div>
        {% elif question.type == "range" %}
            <h1 style="display: inline;" class="range-value main-font" question-id="{{question.id}}">{% widthratio question.max|default:100 2 1 %}</h1> <p style="display: inline;" class="secondary">{{question.unit}}</p>
            <input type="range" question-id="{{question.id}}" min="{{question.min|default:0}}" max="{{question.max|default:100}}" correct-min="{{question.correct_min|default:'0'}}" correct-max="{{question.correct_max|default:'10'}}">
        {% else %}
            <div question-id="{{question.id}}" class="question-choices">
                {% for choice in choices %}
                    <label choiceId="{{choice.id}}" isCorrect="{% if choice.is_correct %}true{% else %}false{%endif %}"><input required name="question{{question.id}}" type="{% if question.type == 'one' %}radio{% elif question.type == 'multi' %}checkbox{% endif %}"> {{choice.answer}}<br></label>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        <button question-id="{{question.id}}" class="filled question-submit-btn"><i class="material-icons">check</i>&nbsp; Vasta</button>        
    </div>
    <div class="question-card-back" hidden>
        <h2 class="question-result" question-id="{{question.id}}"></h2>
        <p question-id="{{question.id}}" style="color: rgba(var(--text-color), 0.8);" class="explanation" hidden>{{question.explanation|safe}}</p>
        <br>
        {% if question.explanation|length > 0 %}
            <button question-id="{{question.id}}" class="filled explanation-btn">Vaata selgitust</button>
        {% endif %}
        <button question-id="{{question.id}}" class="outlined try-again-btn">Proovi uuesti</button>

    </div>
    <p class="error error-text" style="pointer-events: none;" hidden> Ülesanne on õigesti vastamata</p>
</div>