<!-- Homepage, shown when user is notted logged in -->
<!-- Currently a dummy -->

{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <link rel="stylesheet" href="{% static 'lesson.css' %}">
    <title>TRK | Avaleht</title>
    {% endblock %}
</head>
<body>
    {% block title %}
        <h1>TRK</h1>
    {% endblock %}

    {% block content %}
        <div class="top-spacer"></div>
        <div class="container">
            <section>
                <h1 class="main-heading"><span class="first appear"><span class="primary-color">TRKga</span> lendad</span><br> <span class="second appear"> füüsikas kõrgelt!</span></h1>
                <!-- <h1 class="main-heading">Füüsika on raske,<br> <span class="primary-color">Äpinimi</span> mitte</h1> -->
                <br><br><br>
                <div class="fourth appear">
                    <p class="subheader">Muuda füüsika <span class="primary-color" id="changing-text">lihtsaks!</span></p>
                    <a href="#begin" class="link-button filled">Vaata edasi</a>&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'login' %}">Logi sisse</a>
    
                </div>
                <img id="main-photo" class="third appear" src="{% static 'mobile.png' %}" alt="">    
            </section>
            </div>
            <div class="rocket" id="rocket">
                <img src="{% static 'rocket.png' %}" alt="">
            </div>
            <section id="why-us">
                <br>
                <h1 class="main-heading">Miks <span class="primary-color">TRK?</span></h1>
                <br><br><br>
                <div class="reasons-div">
                    <div class="reason">
                        <div class="reason-titles">
                            <h1 class="mega-number">01</h1>
                            <h1 class="reason-title">Mugav kasutada</h1>
                        </div>
                        <p>TRK (Toomas Reimanni konspekt) on uus, moodne ja töötab hästi kõigil seadmetel, ka telefonis</p>
                    </div>
                    <div class="reason">
                        <div class="reason-titles">
                            <h1 class="mega-number">02</h1>
                            <h1 class="reason-title">Õiged materjalid</h1>
                        </div>
                        <p>TRK sisaldab Eesti gümnaasiumites õpetavat materjali</p>
                    </div>
                    <div class="reason">
                        <div class="reason-titles">
                            <h1 class="mega-number">03</h1>
                            <h1 class="reason-title">Pidevad uuendused</h1>
                        </div>
                        <p>Nii äpp ise kui ka selle sisu uuenevad pidevalt vastavalt tunnis õpitule</p>
                    </div>
                    <div class="reason">
                        <div class="reason-titles">
                            <h1 class="mega-number">04</h1>
                            <h1 class="reason-title">Usaldusväärne</h1>
                        </div>
                        <p>Lehe valmimisse on kaasatud tugevad valdkonnaeksperdid</p>
                    </div>
                </div>
            </section>
            <section id="begin">
                <br>
                <h1 class="main-heading">Valmis <span class="primary-color">alustama?</span></h1>
                <br><br><br>
                <p>Suur rõõm sind siin näha! Loodame, et sinu kasutuskogemus TRKga saab olema täiuslik!</p>
                <a class="link-button filled" href="{% url 'register' %}">Loo uus konto</a>
            </section>
            <div id="footer">
            </div>
        </div>

        <script>

            var megaNumberObserver = new IntersectionObserver(function(entries) {
                // isIntersecting is true when element and viewport are overlapping
                // isIntersecting is false when element and viewport don't overlap
                entries.forEach(function (entry){
                    if(entry.isIntersecting === true){
                        entry.target.style.opacity = 1;
                    }
                });
                }, { threshold: [0] });
            
            document.querySelectorAll(".mega-number").forEach(function (el){
                megaNumberObserver.observe(el);
            });
            


            function AnimateRotate(d){
                var elem = $(".question-load-div");

                $({deg: 0}).animate({deg: d}, {
                    duration: 1500,
                    step: function(now){
                        elem.css({
                            transform: "rotateX(" + now + "deg)"
                        });
                    }
                });
            }
            $(".question-load-div").each(function (){
                var id = $(this).attr("question-id");

                var url = "{% url 'exercise' id=12345 %}".replace(/12345/, id.toString());

                console.log(url);

                $(this).load(url, function (){
                    $(this).addClass("question-undone");
                });
            });
        </script>
        <script src="{% static 'js/exercise-logic.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/gh/jcubic/jquery.rotate@0.4.0/jquery.rotate.js"></script>
        <script>
            const innerHeight = $(document).innerHeight();
            const innerWidth = $(document).innerWidth();

            $(document).mousemove(function (event){
                const randomRotateX = (event.pageY - (innerHeight / 2)) / (innerHeight / 2) * 30;
                const randomRotateY = (- event.pageX + (innerWidth / 2)) / (innerWidth / 2) * 20;

                $("#main-photo").css("transform", `rotateX(${randomRotateX}deg) rotateY(${randomRotateY}deg)`);

            });
            
        </script>

        <script>
            //  Change the word
            const words = ["lihtsaks", "lõbusaks", "arusaadavaks", "ilusaks"];
            var selected = 0;

            setInterval(() => {
                $("#changing-text").animate({"opacity":"0"}, 500, function (){
                    selected ++;
                    $("#changing-text").text(words[selected % words.length] + "!");
                    setTimeout(() => {
                        $("#changing-text").animate({"opacity":"1"}, 500);
                    }, 100);
                });
            }, 5000);
        </script>


        <script>
            var observer = new IntersectionObserver(function(entries) {
            // isIntersecting is true when element and viewport are overlapping
            // isIntersecting is false when element and viewport don't overlap
            if(entries[0].isIntersecting === true && !entries[0].target.classList.contains("rocket-flown")){
                console.log('Element has just become visible in screen');
                entries[0].target.classList.add("rocket-flown");
                setTimeout(() => {
                    entries[0].target.remove();
                }, 3000);
            }
            }, { threshold: [0] });

            observer.observe(document.querySelector(".rocket"));
        </script>
    {% endblock %}


</body>
</html>
