{% extends 'base_lesson.html' %}
{% load static %}

{% block lesson %}
    <h1 class="primary">Tere tulemast!</h1>
    <p class="secondary">Oled jõudnud soojusõpetuse kursusele</p>
    <br>
    <p>Tere! Selles kursuses räägime soojusõpetusest. Kursus algab mikro- ja makroparameetrite osast. Pärast seda vaatame üle ainehulga ja kontsentratsiooni ja suundume ideaalse gaasi juurde. Õpime selle omadusi, rakendusi, erinevaid valemeid ja konstante. Õpime absoluutset temperatuuri ja jõuame ideaalse gaasi võrrandini. Kursuse lõpuks jõuame isoprotsessideni.</p>
    <p>Soovin sulle mõnusat õppimist. soojusõpetus on mahukas teema, aga see kursus üritab seda veidikenegi hoomatavamaks teha.</p>

    <p><b>NB! Soovitan soojalt (pun intended) seda videot vaadata! See on hea sissejuhatav materjal</b> </p>
    <iframe src="https://www.youtube.com/embed/j8LIIvGBWxg" width="100%" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>
{% endblock %} 