{% extends 'base_lesson.html' %}
{% load static %}

{% block lesson %}
    <p>Selles tunnis käsitleme mikro- ja makroparameetreid ja miks neid üldse vaja on.</p>
    <h2>Mikroparameetrid</h2>
    <p>Mikroparameetrid on füüsikalised suurused, mida kasutatakse ainet moodustavate mikroosakeste kirjeldamisel. Mõneks oluliseks mikroparameetriks on osakese mass \(m_{0}\), osakese impulss \(p_{0}\), osakese kiirus \(v_{0}\) või ka näiteks osakese keskmine kineetiline energia \(\overline{E_{k_{0}}}\)</p>
    <b>NB! Osakese kohta käivat füüsikalist suurust tähistatakse alaindeksiga \(_{0}\)</b>
    <div class="question-load-div" question-id="11"></div>
    <h2>Makroparameetrid</h2>
    <p>Makroparameetrid on füüsikalised suurused, mis iseloomustavad ainekogust. Nendeks on näiteks mass, rõhk, ruumala, temperatuur jne.</p>
{% endblock %} 