{% extends 'base_lesson.html' %}
{% load static %}

{% block lesson %}
    <h1>Molekulaarkineetiline teooria</h1>
    <br>
    <p>Molekulaarkineetiline teooria seletab gaaside omadusi, lähtudes põhialustest:</p>
    <ul>
        <li>kõik kehad koosnevad paljudest väikestest osakestest (molekulidest) ja nendevahelisest vabast ruumist</li>
        <li>molekulid on <div class="tooltip-container"><span>soojusliikumises</span><span class="tooltip">pidev kaootiline liikumine</span></div></li>
        <li>kõikide kehade molekulide vahel on vastastikmõjud</li>
    </ul>
    <p>Neid kolme punkti tõestab näiteks difusioon ehk ainete iseeneslik segunemine. See näitab, et osakeste liikumine on tõepoolest juhuslik ja kaootiline. Kuid kõige tähtsam molekulaarkineetilist teooriat kinnitav nähtus on Browni liikumine.</p>
    <blockquote>
        <p>Browni liikumine on vedelikes või gaasides hõljuvate osakeste liikumine, mis on tingitud kaootiliselt liikuvate molekulide löökidest.</p>
    </blockquote>
    <div class="question-load-div" question-id="10"></div>
{% endblock %} 