{% extends 'base_lesson.html' %}
{% load static %}

{% block lesson %}
    <p>Selles tunnis kordame 8. klassi keemiat ja seome selle soojusõpetusega. Mõisted, millega selles tunnis tegeleme:</p>
    <ul>
        <li>aatommass - aatomi mass aatomimassiühikutes (amü)</li>
        <li>molekulmass - molekuli koostises olevate aatomite aatommasside summa</li>
        <li>ainehulk - aineosakeste arvu iseloomustav suurus; ainekogus, milles on Avogadro arv osakesi (NB! Füüsikas kasutame selleks tähte nüü (\(\nu\)))</li>
        <li>molaarmass - 1 mol aine mass</li>
        <li>kontsentratsioon - aineosakeste arv ruumalaühikus (tähis \(n\), ühik \( n = 1 m^{-3}\))</li>
    </ul>
    <p>Paneme kirja ka valemid, mida sellest tunnist kaasa võtma peaks. Enamus neist on õnneks juba põhikoolis omandatud.</p>
    <p>1. Ainehulk</p>
    $$ \nu = \frac{m}{M} $$
    $$ \nu = \frac{N}{N_{A}} $$
    <p>2. Kontsentratsioon</p>
    $$ n = \frac{N}{V} $$
    <p>3. Loogiliselt tuletatavad valemid, näiteks</p>
    $$ m = Nm_{0} $$

    <div class="question-load-div" question-id="12"></div>

{% endblock %} 