<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koduleht</title>
</head>
<body>

    <style>
        p {
            color: red;
        }
    </style>

    <h1>Füüsika</h1>
    <div class="exercise" id="exercise-1">
        
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores aut omnis, sequi minus suscipit rerum neque impedit similique labore?</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quia deleniti ad non dolores, suscipit nihil cupiditate asperiores ut mollitia, sunt accusamus quidem eveniet veritatis sequi recusandae porro laboriosam ea.</p>
    
    <p>When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]</p>
    <p>The Pythagorean formula: \[a^{23} + b^{221} = c^0 \]</p>
    <script>
        // We can think about doing this better and programatically in the future
        $("#exercise-1").load("{% url 'exercise' question='Suvaline küsimus' %}")
    </script>
</body>
</html>