

<div style="font-size: 1em">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async   src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <h1>{{question}}</h1>
    <p>Choose the best answer</p>
    <ul>
        <li>Answer 1</li>
        <li>Answer 2</li>
        <li>Answer 3</li>
    </ul>
    <p>We have \(sin 2\alpha = 2sin \alpha cos \beta  \)</p>
    <p>
        When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
    </p>
</div>
