{% extends 'base_lesson.html' %}
{% load static %}

{% block lesson %}
    <h1>Mõisted</h1>
    <br>
    <h2>Positsioon</h2>
    $$7\frac{\vec{a}}{3345}$$
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eum quasi quas exercitationem. Tenetur ex veritatis dolorum ipsum! Dolores, dignissimos!</p>
    <h2>Kiirendus</h2>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/023/977/cover3.jpg" alt="Vektor">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eum quasi quas exercitationem. Tenetur ex veritatis dolorum ipsum! Dolores, dignissimos!</p>
    <h2>Kiirus (speed)</h2>
    <div class="question-load-div" question-id="6"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eum quasi quas exercitationem. Tenetur ex veritatis dolorum ipsum! Dolores, dignissimos!</p>
{% endblock %}