{% extends 'base_lesson.html' %}
{% load static %}

{% block lesson %}
    <h1 class="primary">Mõisted II</h1>
    <p class="secondary">Taustsüsteem, nihe, vahemaa</p>
    <br><br>
    <h2>Taustsüsteem</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores, quaerat unde officiis distinctio quod error nulla ullam ut, deleniti doloribus sapiente fugiat exercitationem repellendus tempore maxime totam eos hic optio illo commodi aliquid quibusdam. Velit ea veritatis cumque molestiae aliquid sapiente impedit possimus consectetur? Illum qui esse pariatur sequi!</p>
    <div class="question-load-div" question-id="6"></div>
    <h2>Nihe</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis a esse similique inventore sapiente nihil voluptas numquam quae consectetur doloremque, ex exercitationem autem alias, suscipit rem unde saepe asperiores quibusdam?</p>
    <div class="question-load-div" question-id="4"></div>
    <h2>Vahemaa</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vitae quidem eligendi beatae nihil repudiandae laborum error iste, tempore nisi architecto. Optio totam aliquam molestias officiis laborum tempore quibusdam quisquam aliquid distinctio, maxime consequatur tempora voluptas perferendis velit, mollitia quam cupiditate inventore quo provident. Sint fugit officia facere exercitationem facilis iusto dicta hic harum quidem laborum nesciunt, excepturi veniam? Officia!</p>
    <div class="question-load-div" question-id="3"></div>


{% endblock %}